#/bin/sh
export http_proxy="{{HttpProxyServer}}"
export https_proxy="{{HttpProxyServer}}"
export HTTP_PROXY="{{HttpProxyServer}}"
export HTTPS_PROXY="{{HttpProxyServer}}"
export no_proxy="{{NoProxy}}"
export NO_PROXY="{{NoProxy}}"
